<ion-header translucent>
  <ion-toolbar class="toolbar-custom">
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="calendar">

  <!-- HERO MINI -->
  <section class="hero-mini">
    <h2>Vista por fecha</h2>
    <p>Consulta tus tareas programadas por día</p>
  </section>

  <!-- CALENDARIO -->
  <section class="calendar-section">
    <ion-datetime
      presentation="date"
      [(ngModel)]="fechaSeleccionada"
      [highlightedDates]="highlightedDates"
      (ionChange)="cambiarFecha($event)">
    </ion-datetime>
  </section>

  <!-- EVENTOS -->
  <section class="events-card">

    <h3 class="section-title">Tareas del día</h3>

    <div
      *ngFor="let t of (tareasDelDia$ | async)"
      class="day-item"
    >
      ✔ {{ t.titulo }}
    </div>

    <p
      *ngIf="(tareasDelDia$ | async)?.length === 0"
      class="empty">
      No hay tareas para este día
    </p>

  </section>

</ion-content>
