<ion-header translucent>
  <ion-toolbar class="toolbar-custom">
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="notes">

  <!-- HERO MINI -->
  <section class="hero-mini">
    <h2>Notas personales</h2>
    <p>Guarda ideas, recordatorios y apuntes rápidos</p>
  </section>

  <!-- BOTÓN -->
  <ion-button expand="block" class="btn-add" (click)="nuevaNota()">
    + Nueva nota
  </ion-button>

  <!-- LISTA DE NOTAS -->
  <section class="notes-list">

    <div class="note-card" *ngFor="let n of (notas$ | async)">
      <div class="note-header">
        <h3>{{ n.titulo }}</h3>

        <ion-button
          fill="clear"
          class="btn-delete"
          (click)="eliminar(n.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>

      <p class="note-content">
        {{ n.contenido }}
      </p>
    </div>

  </section>

</ion-content>
